{
        "nickname": "Cardinal",
        "password": "REMOVE IF NO PASSWORD",
        "network": "irc.darkscience.net",
        "port": 6697,
        "ssl": true,
        "channels": [
                "#bots"
        ],
        "plugins": [
                "admin",
                "calculator",
                "help",
                "join_on_invite"
                "lastfm",
                "notes",
                "ping",
                "remind",
                "urls",
                "weather",
                "wikipedia",
                "youtube",
        ]
}
