# Python 3 conversion
future==0.18.2

# Core
Twisted==20.3.0

# SSL connections
pyOpenSSL==19.0.0
service_identity==18.1.0
enum34==1.1.9

# Config parsing
PyYAML==5.1.1

# Wikipedia plugin
beautifulsoup4==4.9.3

# Weather & YouTube plugins
requests==2.22.0

# Google plugin
google==2.0.3

# Timezone plugin
pytz==2020.4
