# Core
Twisted==19.2.1

# SSL connections
pyOpenSSL==19.0.0
service_identity==18.1.0

# Config parsing
PyYAML==5.1.1

# Unit tests
pytest==2.8.3
pytest-cov==2.2.0
mock==2.0.0

# Wikipedia plugin
beautifulsoup4==4.3.2

# YouTube plugin
requests==2.22.0

# Google plugin
google==1.9.3

# Time plugin
pytz==2015.4
